:host {
    z-index: 500;
    position: absolute;
    top: 10px;
    left: 10px;
}

.icons {
    width: 50px;
    user-select: none;
    .icon {
        margin-top: 10px;
    }
}

.fa {
    cursor: pointer;
}

.fa-stack {
    transition: all .25s ease-in-out;
    &:hover {
        transform: scale(.9);
    }
}

.fa-stack-1x {
    color: #000000;
    &.active {
        color: #1d00ff;
    }
}