:host {
    z-index: 500;
    position: absolute;
    top: 15px;
    left: 15px;
}

.fa {
    cursor: pointer;
}

.icons {
    display: block;
    width: 50px;
    user-select: none;
    .icon {
        margin-top: 10px;
    }
}